<div class="mainContainer">
    <div class="secondContainer">
        <img src="/images/yash.webp" alt="">
    </div>
    <div class="firstContainer">
        <h3>Welcome to my yash"s blog!!</h3>
        <div class="choiceContainer">
            <p>welcome to yash's vlog </p>
            <div class="buttonContainer">

                <a href="/view-all-post" class="myButton">see blogs</a>
                <a href="/admin/dashboard/view-all-post" class="myButton2">login as a writer</a>
            </div>
        </div>
    </div>
</div>